<nav class="navbar navbar-expand-lg navbar-light bg">
    <div class="container-fluid" *ngIf="!auth.logIn(); else logOut">
        <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active"><img class="img-tamano" src="../../../assets/icons/home.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <div class="navbar-nav">
                <a class="nav-link" [routerLink]="['/registro']" routerLinkActive="router-link-active" id="navbarToggleExternalContent">
                    <img class="img-tamano" src="../../../assets/icons/registrar.png"></a>
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active"><img class="img-tamano" src="../../../assets/icons/login.png"></a>
            </div>
        </div>
    </div>
    <ng-template #logOut>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" id="navbarToggleExternalContent">
                    <img class="img-tamano" src="../../../assets/icons/logout.png" (click)="auth.logout()"></a>
            </div>
        </div>
    </ng-template>
</nav>