.bg {
    width: auto;
    text-align: right;
    background-color: #fdfdfd;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
    margin-left: auto;
    width: inherit;
}

.nav-link {
    color: white;
}

.img-tamano {
    width: 45px;
    padding-left: 10px;
}