.form-control {
    margin: 0 auto;
    box-shadow: 1px 0px 5px 2px rgba(8, 8, 8, 0.1);
}

label {
    text-decoration-style: solid wavy;
    text-emphasis-color: currentcolor;
    text-decoration: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    padding-top: 30px;
    width: 100%;
    margin: 10;
    border-radius: 10px;
    box-shadow: 1px 0px 5px 2px rgba(8, 8, 8, 0.1);
}