<form class="style-form" [formGroup]="formulario" (ngSubmit)="guardar()">
    <div class="container">

        <div class="row">
            <div class="col-sm">
                <label class="form-label">Nombre completo</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="nombre">
            </div>
            <div class="col-sm">
                <label class="form-label">Numero de identificación</label>
                <input type="number" class="form-control" formControlName="cedula">
            </div>
            <div class="col-sm">
                <label class="form-label">Celular</label>
                <input type="number" class="form-control" formControlName="celular">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="exampleInputEmail1" class="form-label mt-4">Correo electronico</label>
                <input type="email" class="form-control" formControlName="correo">
            </div>
            <div class="col-sm-4">
                <label class="form-label mt-4">Contraseña</label>
                <input type="password" class="form-control" formControlName="contrasena">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <label class="form-label">Departamento</label>
                <input type="text" class="form-control" formControlName="departamento">
            </div>
            <div class="col-sm-4">
                <label class="form-label">Ciudad</label>
                <input type="text" class="form-control" formControlName="ciudad">
            </div>
            <div class="col-sm-4">
                <label class="form-label">Barrio</label>
                <input type="text" class="form-control" formControlName="barrio">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label class="form-label">Dirreción de residencia</label>
                <input type="text" class="form-control" formControlName="direccion">
            </div>
        </div>
        <hr>
        <div class="row">

        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="form-label">Salario</label>
                <input type="number" class="form-control" formControlName="salario">
            </div>
            <div class="col-sm-3">
                <label class="form-label">Otros Ingresos</label>
                <input type="number" class="form-control" formControlName="otrosingresos">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="form-label">Gastos Mensuales</label>
                <input type="number" class="form-control" formControlName="gastosmensuales">
            </div>
            <div class="col-sm-3">
                <label class="form-label">Gastos Financieros</label>
                <input type="number" class="form-control" formControlName="gastosfinanzas">
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary mb-5">Registrarse</button>
    </div>
</form>