<form class="style-form" [formGroup]="dataUser" (ngSubmit)="verificacion()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label mt-5">Correo electronico</label>
        <input type="email" class="form-control" formControlName="correo">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" formControlName="contrasena">
    </div>
    <button type="submit" class="btn btn-primary mb-5">Ingresar</button>
</form>