.style-form {
    width: 100%;
    box-shadow: 5px 2px 5px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    border: 0px solid #666666;
    width: 500px;
}

.form-control {
    width: 50%;
    margin: 0 auto;
    box-shadow: 1px 0px 5px 2px rgba(8, 8, 8, 0.1);
}